html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


// 顶部导航 
.top-nav{
    position: fixed;
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
    z-index: 9999;
    // 游戏全目录下滑列表
    .top-nav-select{
        display:none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        height: 500px;
        z-index: 10;
        border-top: 1px solid #ccc;
        .top-nav-select-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 1260px; 
            height: 100%;
            overflow: hidden;
        }
        // 下滑列表上部分（标题）
        .select-top{
            float: left;
            overflow: hidden;
            li{
                float: left;
                b{
                    display: block;
                    width: 100%;
                    height: 39px;
                    background-color: #f7f7f8;
                    line-height: 39px;
                    font-size: 14px;
                    text-indent: 20px;
                    color: #bc2e2e;
                }
            }
           &>li:nth-child(1){
            width: 299px;
           }
           &>li:nth-child(2){
            width: 828px;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
           }
           &>li:nth-child(3){
            float: right;
            width: 131px;
           }
        }
        // 下滑列表下部分 （内容）
        .select-bottom{
            float: left;
            overflow: hidden;
            height: 445px;
            width: 100%;
            li{
                position: relative;
                float: left;
                height: 100%;
                padding: 10px 0 0 14px;
                background-color: #fdfefe;
                box-sizing: border-box;
                line-height: 24px;
               &>a,.li-box>a{
                    margin-left: 6px;
                    display: block;
                    &:hover{
                        color: #bc2e2e;
                    }
                }
                p{
                    padding: 0;
                    margin: 0;
                    margin-left: 6px;
                    line-height: 24px;
                    margin-bottom: 4px;
                    font-weight: 700;
                    color: #626262;
                }
            }
            &>li:nth-child(1){
                width: 135px;
            }
            &>li:nth-child(2){
                display: inline-block;
                width: 165px;
                border-right: 1px solid #eee;
                a{
                    width: 105px;
                }
            }
            &>li:nth-child(3){
                width: 148px; 
            }
            &>li:nth-child(4){
                width: 682px;
                border-right: 1px solid #eee;
                div{
                    float: left;
                    width: 133px;
                }
            }
            &>li:nth-child(5){
                width: 117px;
            }
        }
    }
    // 下拉框添加热点标签
    .select-no1{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -267px;
    }
    .select-new{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -206px;
    }
    .select-hot{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -144px;
    }
    // .热门手游按钮
    #select-but{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px!important;
        height: 95px;
        background-color: #bc2e2e;
        color: #ffffff;
        opacity: 1;
        padding: 7px 0 0 10px;
        &:hover{
            opacity: 0.7;
        }
        width: 20px!important;
        line-height: 1.3!important;
        color: #fff;
    }

    // 顶部导航左边按钮
    .top-nav-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 179px;
        height: 54px;
        background-color: #cf1132;
        a{
           display: block;
            font-size: 12px;
            line-height: 54px;
            text-align: center;
            color: #fff;
        }
        i{
            display: inline-block;
            width: 25px;
            height: 11px;
            background: url(../images/index/index-jingling.png) -90px -306px no-repeat;
            margin-right: 8px;
        }
    }
    // 顶部导航中间logo
    .top-nav-cent{
        position: absolute;
        top: 0;
        left: 50%;
        width: 133px;
        height: 54px;
        a{
            display: block;
            width: 133px;
            height: 44px;
            margin-left: -30px;
            margin-top: 5px;
        }
    }
    // 顶部导航左边文字轮播
    .top-nav-right{
        position: absolute;
        top: 0;
        right: 0;
        height: 54px;
        border-left: 1px solid#dadada;
        overflow: hidden;
        .swiper-slide{
            width: 138px;
            height: 52px;
            text-align: center;
            line-height: 52px;
            box-sizing: border-box;
            &:hover{
                border-bottom: 2px solid red;
                color: red;
                background-color: rgba(0, 0, 0, 0.1);
                transition: all 0.5s;
            }
        }
    }
}
// 内容部分
.main{
    position: relative;
    margin: auto;
    box-sizing: border-box;
    padding: 105px 50px 50px;
    max-width: 1920px;
    min-width: 1400px;
    max-height: 1080px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background: url(../images/Audio/main-background.jpg) 50% 55px no-repeat;
    background-size: cover;
    overflow: hidden;
    // 上部分标题
    .title{
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 5;
        top: 55px;
        right: 50px;
        height: 50px;
        font-size: 12px;
        color: #7c7c7c;
    }
    .centent{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 5px solid #a99362;
        overflow: hidden;
        // 装饰部分
        .centent-zhuangshi{
            // 左右中间实线
            .solid-left,.solid-right{
                position: absolute;
                top: 50%;
                width: 296px;
                height: 3px;
                background-color: #d6ceb7;
            }
            .solid-left{
                margin-right: 610px;
                right: 50%;
            }
            .solid-right{
                margin-left: 610px;
                left: 50%;
            }
            // 左上角
            .left-jiao-hei,.left-jiao-bai,.right-jiao-hei,.right-jiao-bai{
                position: absolute;
                top: 0;
                width: 400px;
                height: 220px;
                background-repeat: no-repeat;
            }
            .left-jiao-hei{
                background: url(../images/Audio/left-top-jiao-hei.png);
                left: 0;
            }
            .left-jiao-bai{
                background: url(../images/Audio/left-top-jiao-bai.png);
                left: 0;
            }
            // 右上角
            .right-jiao-hei{
                background: url(../images/Audio/right-top-jiao-hei.png);
                right: 0;
            }
            .right-jiao-bai{
                background: url(../images/Audio/right-top-jiao-bai.png);
                right: 0;
            }
            // 底部线条
            .bottom-lind{
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -906px;
                width: 1812px;
                height: 100px;
                background: url(../images/Audio/bottom-boder.png) no-repeat;
            }
            // 阴影
            .show{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 10px 45px 0 rgba(89,81,62,.45) inset;
            }
        }
    }
}

