html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

// 背景圆左转圈动画
@keyframes yuan-left{
    0%{
        transform:rotate(0deg);    
    }
    100%{
        transform:rotate(360deg);    
    }
}

// 背景圆右转圈动画
@keyframes yuan-right{
    0%{
        transform:rotate(0deg);    
    }
    100%{
        transform:rotate(-360deg);    
    }
}

// 图片显示动画
@keyframes img-show{
    0%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
// 顶部导航 
.top-nav{
    position: fixed;
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
    z-index: 9999;
    // 游戏全目录下滑列表
    .top-nav-select{
        display:none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        height: 500px;
        z-index: 10;
        border-top: 1px solid #ccc;
        .top-nav-select-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 1260px; 
            height: 100%;
            overflow: hidden;
        }
        // 下滑列表上部分（标题）
        .select-top{
            float: left;
            overflow: hidden;
            li{
                float: left;
                b{
                    display: block;
                    width: 100%;
                    height: 39px;
                    background-color: #f7f7f8;
                    line-height: 39px;
                    font-size: 14px;
                    text-indent: 20px;
                    color: #bc2e2e;
                }
            }
           &>li:nth-child(1){
            width: 299px;
           }
           &>li:nth-child(2){
            width: 828px;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
           }
           &>li:nth-child(3){
            float: right;
            width: 131px;
           }
        }
        // 下滑列表下部分 （内容）
        .select-bottom{
            float: left;
            overflow: hidden;
            height: 445px;
            width: 100%;
            li{
                position: relative;
                float: left;
                height: 100%;
                padding: 10px 0 0 14px;
                background-color: #fdfefe;
                box-sizing: border-box;
                line-height: 24px;
               &>a,.li-box>a{
                    margin-left: 6px;
                    display: block;
                    &:hover{
                        color: #bc2e2e;
                    }
                }
                p{
                    padding: 0;
                    margin: 0;
                    margin-left: 6px;
                    line-height: 24px;
                    margin-bottom: 4px;
                    font-weight: 700;
                    color: #626262;
                }
            }
            &>li:nth-child(1){
                width: 135px;
            }
            &>li:nth-child(2){
                display: inline-block;
                width: 165px;
                border-right: 1px solid #eee;
                a{
                    width: 105px;
                }
            }
            &>li:nth-child(3){
                width: 148px; 
            }
            &>li:nth-child(4){
                width: 682px;
                border-right: 1px solid #eee;
                div{
                    float: left;
                    width: 133px;
                }
            }
            &>li:nth-child(5){
                width: 117px;
            }
        }
    }
    // 下拉框添加热点标签
    .select-no1{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -267px;
    }
    .select-new{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -206px;
    }
    .select-hot{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -144px;
    }
    // .热门手游按钮
    #select-but{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px!important;
        height: 95px;
        background-color: #bc2e2e;
        color: #ffffff;
        opacity: 1;
        padding: 7px 0 0 10px;
        &:hover{
            opacity: 0.7;
        }
        width: 20px!important;
        line-height: 1.3!important;
        color: #fff;
    }

    // 顶部导航左边按钮
    .top-nav-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 179px;
        height: 54px;
        background-color: #cf1132;
        a{
           display: block;
            font-size: 12px;
            line-height: 54px;
            text-align: center;
            color: #fff;
        }
        i{
            display: inline-block;
            width: 25px;
            height: 11px;
            background: url(../images/index/index-jingling.png) -90px -306px no-repeat;
            margin-right: 8px;
        }
    }
    // 顶部导航中间logo
    .top-nav-cent{
        position: absolute;
        top: 0;
        left: 50%;
        width: 133px;
        height: 54px;
        a{
            display: block;
            width: 133px;
            height: 44px;
            margin-left: -30px;
            margin-top: 5px;
        }
    }
    // 顶部导航左边文字轮播
    .top-nav-right{
        position: absolute;
        top: 0;
        right: 0;
        height: 54px;
        border-left: 1px solid#dadada;
        overflow: hidden;
        .swiper-slide{
            width: 138px;
            height: 52px;
            text-align: center;
            line-height: 52px;
            box-sizing: border-box;
            &:hover{
                border-bottom: 2px solid red;
                color: red;
                background-color: rgba(0, 0, 0, 0.1);
                transition: all 0.5s;
            }
        }
    }
}
// 内容部分
.main{
    position: relative;
    margin: auto;
    box-sizing: border-box;
    padding: 105px 50px 50px;
    max-width: 1920px;
    min-width: 1400px;
    max-height: 1080px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background: url(../images/Audio/main-background.jpg) 50% 55px no-repeat;
    background-size: cover;
    overflow: hidden;
    // 上部分标题
    .title{
        display: flex;
        align-items: center;
        position: absolute;
        z-index: 5;
        top: 55px;
        right: 50px;
        height: 50px;
        font-size: 12px;
        color: #7c7c7c;
        a{
            margin: 0 10px;
            height: 20px;
            line-height: 20px;
            color: #ac9768;
            &:hover{
                color: #2b2b2b;
            }
        }
        &>a:first-child{
            padding-left: 30px;
            color: #ac9768;
            background: url(../images/Audio/jinru-guanwang.png) 0 50% no-repeat;
        }
        &>a:nth-child(3){
            position: relative;
            width: 18px;
            background: url(../images/Audio/title-erwei.png) 0 50% no-repeat;
            cursor: default;
        }
        a span{
            display: inline-block;
            height: 9px;
            font-size: 0;
            overflow: hidden;
            &> i:nth-child(2) {
                transform: translateY(0px);
            }
            i{
                display: inline-block;
                width: 2px;
                height: 9px;
                background-color: #ac9768;
                -webkit-transform: translateY(5px);
                transform: translateY(5px);
                margin-right: 2px;
            }
            .bottom{
                animation: music-bottom 0.5s linear infinite;
            }
            .top{
                animation: music-top 0.5s linear infinite;
            }
        }
        .title-fenxiang{
            position: relative;
            display: inline-block;
            span{
                margin-left: 8px;
                margin-right: 3px;
                color: #ac9768;
                float: left;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
            }
            ul{
                list-style: none;
                float: left;
                padding: 0;
                margin: 0;
                li{
                    float: left;
                    width: 20px;
                    height: 20px;
                    color: #ac9768;                   
                    line-height: 20px;
                    cursor:pointer;
                   &:hover .icon{
                            color: #2b2b2b;
                        
                    }
                }
            }
        }


    }
    .centent{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border: 5px solid #a99362;
        overflow: hidden;
        // 装饰部分
        .centent-zhuangshi{
            // 背景转动的圆
            .yuan-1,.yuan-2,.yuan-3,.yuan-4{
                position: absolute;
                top: 50%;
                left: 50%;
                background-repeat: no-repeat;
            }
            .yuan-1{
                margin-top: -657px;
                margin-left: -657px;
                width: 1314px;
                height: 1314px;
                background-image: url(../images/Audio/yuanyuan-1.png);
                animation: yuan-left 300s linear infinite;
            }
            .yuan-2{
                margin-top: -551.5px;
                margin-left: -551.5px;
                width: 1103px;
                height: 1103px;
                background-image: url(../images/Audio/yuanyuan-2.png);
                animation: yuan-right 300s linear infinite;
            }
            .yuan-3{
                margin-top: -362px;
                margin-left: -362px;
                width: 724px;
                height: 724px;
                background-image: url(../images/Audio/yaunyuan-3.png);
                animation: yuan-left 300s linear infinite;
            }
            .yuan-4{
                margin-top: -281.5px;
                margin-left: -281.5px;
                width: 563px;
                height: 563px;
                background-image: url(../images/Audio/yuanyuan-4.png);
                animation: yuan-right 300s linear infinite;
            }
            // 左右中间实线
            .solid-left,.solid-right{
                position: absolute;
                top: 50%;
                width: 296px;
                height: 3px;
                background-color: #d6ceb7;
            }
            .solid-left{
                margin-right: 610px;
                right: 50%;
            }
            .solid-right{
                margin-left: 610px;
                left: 50%;
            }
            // 左上角
            .left-jiao-hei,.left-jiao-bai,.right-jiao-hei,.right-jiao-bai{
                position: absolute;
                top: 0;
                width: 400px;
                height: 220px;
                background-repeat: no-repeat;
            }
            .left-jiao-hei{
                background: url(../images/Audio/left-top-jiao-hei.png);
                left: 0;
            }
            .left-jiao-bai{
                background: url(../images/Audio/left-top-jiao-bai.png);
                left: 0;
            }
            // 右上角
            .right-jiao-hei{
                background: url(../images/Audio/right-top-jiao-hei.png);
                right: 0;
            }
            .right-jiao-bai{
                background: url(../images/Audio/right-top-jiao-bai.png);
                right: 0;
            }
            // 底部线条
            .bottom-lind{
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -906px;
                width: 1812px;
                height: 100px;
                background: url(../images/Audio/bottom-boder.png) no-repeat;
            }
            // 阴影
            .show{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: 0 10px 45px 0 rgba(89,81,62,.45) inset;
            }
        }
        // 内容部分
        .centent-neirong{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(0.9);
            .logo{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -153px;
                margin-left: -585px;
                width: 100px;
                height: 317px;
                background: url(../images/Audio/shiting-logo.webp) no-repeat;
            }
            .title{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -167px;
                margin-left: 460px;
                width: 136px;
                height: 327px;
                background: url(../images/Audio/shiting-title.png) no-repeat;
            }
            .shiting-box{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -320px;
                margin-left: -320px;
                width: 640px;
                height: 640px;
                border: 4px solid #a99362;
                border-radius: 50%;
                .shiting-img{
                    position: relative;
                    margin: 60px;
                    width: 520px;
                    height: 520px;
                    img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        opacity: 0;
                        transform: scale(0.5);
                        transition: all 1s ease-in-out;
                    }
                    .chushi-hide-img{
                        opacity: 1;
                        transform: scale(1);
                    }
                    // 隐藏类名
                    .img-hide{
                        opacity: 0;
                        transition: all 1s ease-in-out;
                        transform: scale(0.5);
                    }
                    // 显示类名
                    .img-show{
                        opacity: 1;
                        transform: scale(1);
                        transition: all 0.5s 0.3s cubic-bezier(0.62,.285,.47,1.65);
                        
                    }
                }
            }
            .shiting-but-left,.shiting-but-right,.shiting-but-top{
                position: absolute;
                width: 140px;
                height: 140px;
                background-repeat: no-repeat;
                border-radius: 50%;
                box-shadow: 0 10px 10px 0 rgba(169,147,98,.38);
                i{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -95px;
                    margin-left: -95px;
                    width: 190px;
                    height: 190px;
                    background: url(../images/Audio/but-boder.png) no-repeat;
                    opacity: 0;
                    transition: all .5s;
                    animation: yuan-left 10s linear infinite;
                }
                .jiantou-left{
                    position: absolute;
                    top: 15px;
                    left: -56px;
                    width: 79px;
                    height: 104px;
                    background-repeat: no-repeat;
                    transition: all .5s;
                    background: url(../images/Audio/jiantou-left.png);
                }
                .jiantou-right{
                    position: absolute;
                    top: 15px;
                    right: -56px;
                    width: 79px;
                    height: 104px;
                    background-repeat: no-repeat;
                    transition: all .5s;
                    background: url(../images/Audio/jiantou-right.png);
                }
            }
            .shiting-but-top{
                top: -70px;
                left: 0;
                right: 0;
                margin: auto;
                background-image: url(../images/Audio/shiting-but-top.png);
            }
            .shiting-but-left{
                top: 382px;
                left: -42px;
                background-image: url(../images/Audio/shiting-but-left.png);
            }
            .shiting-but-right{
                top: 382px;
                right: -42px;
                background-image: url(../images/Audio/shiting-but-right.png);
            }
        }
    }
}
.main-footer{
    position: relative;
    width: 100%;
    height: 50px;
    .main-footer-top{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10;
        // width: 435px;
        text-align: center;
        font-size: 12px;
        ul{
            overflow: hidden;
        }
        li{
            float: left;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            margin-right: 30px;
            a{
                color: #000;
                &:hover{
                    color: red;
                }
            }
        }
    }
    .main-footer-bottom{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 1024px;
        .footer-bottom-one{
            &>a{
                display: inline-block;
                font-size: 10px;
            }
            span{
                position: relative;
                // margin-top: 5px;
                height: 50px;
                display: inline-block;
                line-height: 2;
                p{
                    color: #000;
                }
                a{
                    color: #000;
                    &:hover{
                        text-decoration: solid;
                    }
                }
                div{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: inline-block;
                    height: 26px;
                    background-color: red;
                    &>a{
                        color: #fff;
                    }
                }
            }
        }
        .footer-bottom-two{
            line-height: 2.5;
            p{
                color: #000;
            }
        }
    }
}

// 音乐播放动画
@keyframes music-top{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}
@keyframes music-bottom{
    0%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(5px);
    }
}


// 进场动画初始化部分

.left-jiao-hei,.left-jiao-bai,.logo,.solid-left{
    transform: translateX(-100%);
}
.right-jiao-hei,.right-jiao-bai,.title,.solid-right{
    transform: translateX(100%);
}
// logo和title
.logo,.title{
    opacity: 0;
}
// 大盒子和阴影和背景圆
.shiting-box,.show,.yuan-1,.yuan-2,.yuan-3,.yuan-4,.bottom-lind{
    opacity: 0;
}

// 左右进场
    .jinchang{
        transform: translateX(0);
        transition: all 1s;
    }
// logo和title进场
    .touming{
        opacity: 1;
        transition: all 1s;
    }
    
     









