html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-nav {
  position: relative;
  width: 100%;
  height: 54px;
  background-color: #ffffff;
  border-bottom: 1px solid #fff;
  z-index: 9999;
}

.top-nav .top-nav-select {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  height: 500px;
  z-index: 10;
  border-top: 1px solid #ccc;
}

.top-nav .top-nav-select .top-nav-select-container {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1260px;
  height: 100%;
  overflow: hidden;
}

.top-nav .top-nav-select .select-top {
  float: left;
  overflow: hidden;
}

.top-nav .top-nav-select .select-top li {
  float: left;
}

.top-nav .top-nav-select .select-top li b {
  display: block;
  width: 100%;
  height: 39px;
  background-color: #f7f7f8;
  line-height: 39px;
  font-size: 14px;
  text-indent: 20px;
  color: #bc2e2e;
}

.top-nav .top-nav-select .select-top > li:nth-child(1) {
  width: 299px;
}

.top-nav .top-nav-select .select-top > li:nth-child(2) {
  width: 828px;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.top-nav .top-nav-select .select-top > li:nth-child(3) {
  float: right;
  width: 131px;
}

.top-nav .top-nav-select .select-bottom {
  float: left;
  overflow: hidden;
  height: 445px;
  width: 100%;
}

.top-nav .top-nav-select .select-bottom li {
  position: relative;
  float: left;
  height: 100%;
  padding: 10px 0 0 14px;
  background-color: #fdfefe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 24px;
}

.top-nav .top-nav-select .select-bottom li > a, .top-nav .top-nav-select .select-bottom li .li-box > a {
  margin-left: 6px;
  display: block;
}

.top-nav .top-nav-select .select-bottom li > a:hover, .top-nav .top-nav-select .select-bottom li .li-box > a:hover {
  color: #bc2e2e;
}

.top-nav .top-nav-select .select-bottom li p {
  padding: 0;
  margin: 0;
  margin-left: 6px;
  line-height: 24px;
  margin-bottom: 4px;
  font-weight: 700;
  color: #626262;
}

.top-nav .top-nav-select .select-bottom > li:nth-child(1) {
  width: 135px;
}

.top-nav .top-nav-select .select-bottom > li:nth-child(2) {
  display: inline-block;
  width: 165px;
  border-right: 1px solid #eee;
}

.top-nav .top-nav-select .select-bottom > li:nth-child(2) a {
  width: 105px;
}

.top-nav .top-nav-select .select-bottom > li:nth-child(3) {
  width: 148px;
}

.top-nav .top-nav-select .select-bottom > li:nth-child(4) {
  width: 682px;
  border-right: 1px solid #eee;
}

.top-nav .top-nav-select .select-bottom > li:nth-child(4) div {
  float: left;
  width: 133px;
}

.top-nav .top-nav-select .select-bottom > li:nth-child(5) {
  width: 117px;
}

.top-nav .select-no1 {
  background: url(../images/index/index-jingling.png) no-repeat;
  background-position: right -267px;
}

.top-nav .select-new {
  background: url(../images/index/index-jingling.png) no-repeat;
  background-position: right -206px;
}

.top-nav .select-hot {
  background: url(../images/index/index-jingling.png) no-repeat;
  background-position: right -144px;
}

.top-nav #select-but {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 20px !important;
  height: 95px;
  background-color: #bc2e2e;
  color: #ffffff;
  opacity: 1;
  padding: 7px 0 0 10px;
  width: 20px !important;
  line-height: 1.3 !important;
  color: #fff;
}

.top-nav #select-but:hover {
  opacity: 0.7;
}

.top-nav .top-nav-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 179px;
  height: 54px;
  background-color: #cf1132;
}

.top-nav .top-nav-left a {
  display: block;
  font-size: 12px;
  line-height: 54px;
  text-align: center;
  color: #fff;
}

.top-nav .top-nav-left i {
  display: inline-block;
  width: 25px;
  height: 11px;
  background: url(../images/index/index-jingling.png) -90px -306px no-repeat;
  margin-right: 8px;
}

.top-nav .top-nav-cent {
  position: absolute;
  top: 0;
  left: 50%;
  width: 133px;
  height: 54px;
}

.top-nav .top-nav-cent a {
  display: block;
  width: 133px;
  height: 44px;
  margin-left: -30px;
  margin-top: 5px;
}

.top-nav .top-nav-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 54px;
  border-left: 1px solid #dadada;
  overflow: hidden;
}

.top-nav .top-nav-right .swiper-slide {
  width: 138px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-nav .top-nav-right .swiper-slide:hover {
  border-bottom: 2px solid red;
  color: red;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.left-erwei {
  position: fixed;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 202px;
  height: 291px;
  background: url(../images/index/index-erweibox.png) no-repeat;
  z-index: 1000;
}

.left-erwei .click-but {
  position: absolute;
  top: 15px;
  right: 18px;
}

.left-erwei .click-but span {
  display: block;
  width: 21px;
  height: 21px;
  background: url(../images/index/index-jiantou.png);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-bottom: 5px;
}

.left-erwei .click-but a {
  color: #fff;
  font-size: 24px;
}

.left-erwei .erweima {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 133px;
  height: 133px;
}

.left-erwei .erweima img {
  width: 133px;
  height: 133px;
}

.left-erwei .erweima div {
  position: absolute;
  background: url(../images/index/index-ewweima-jiguang.png);
  left: 50%;
  margin-left: -63.5px;
  top: 15px;
  width: 127px;
  height: 10px;
  -webkit-animation: jiguang 2s linear infinite;
          animation: jiguang 2s linear infinite;
}

.left-erwei .xiazai {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: 144px;
  height: 144px;
}

.left-erwei .xiazai a {
  display: block;
}

@-webkit-keyframes jiguang {
  0% {
    top: 15px;
  }
  50% {
    top: 105px;
  }
  100% {
    top: 15px;
  }
}

@keyframes jiguang {
  0% {
    top: 15px;
  }
  50% {
    top: 105px;
  }
  100% {
    top: 15px;
  }
}

.main {
  width: 100%;
  background: url(../images/index/index-background.jpg);
}

.main .main-top {
  position: relative;
  width: 100%;
  height: 1140px;
}

.main .main-top .main-top-logo {
  position: absolute;
  width: 75px;
  height: 198px;
  position: absolute;
  top: 30px;
  left: 20px;
  background: url(../images/index/index-main-logo.webp);
}

.main .main-top .main-top-go {
  position: absolute;
  right: 50px;
  top: 40px;
  background: url(../images/index/index-main-go.png) no-repeat center;
  width: 189px;
  height: 59px;
}

.main .main-center {
  position: relative;
  min-width: 1200px;
  max-width: 1200px;
  height: 1100px;
  margin: 0 auto;
  overflow: visible;
}

.main .main-center .main-center-title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 359px;
  height: 60px;
  background: url(../images/index/index-main-center-title.png);
}

.main .main-center .main-center-lun {
  position: relative;
  top: 65px;
  width: 1200px;
  height: 1040px;
}

.main .main-center .main-center-lun div {
  position: absolute;
  width: 368px;
  height: 376px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.main .main-center .main-center-lun .lun-box1 {
  top: 200px;
  left: 20px;
}

.main .main-center .main-center-lun .lun-box1:hover {
  top: 185px;
}

.main .main-center .main-center-lun .lun-box2 {
  top: 80px;
  left: 410px;
}

.main .main-center .main-center-lun .lun-box2:hover {
  top: 65px;
}

.main .main-center .main-center-lun .lun-box3 {
  top: 0;
  left: 812px;
}

.main .main-center .main-center-lun .lun-box3:hover {
  top: -15px;
}

.main .main-center .main-center-lun .lun-box4 {
  top: 656px;
  left: 20px;
}

.main .main-center .main-center-lun .lun-box4:hover {
  top: 641px;
}

.main .main-center .main-center-lun .lun-box5 {
  top: 522px;
  left: 410px;
}

.main .main-center .main-center-lun .lun-box5:hover {
  top: 507px;
}

.main .main-center .main-center-lun .lun-box6 {
  top: 450px;
  left: 812px;
}

.main .main-center .main-center-lun .lun-box6:hover {
  top: 435px;
}

.main .main-center .lun-black {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 10000;
}

.main .main-center .lun-bigbox {
  display: none;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  min-width: 1200px;
  height: 650px;
  z-index: 10000;
}

.main .main-center .lun-bigbox .lun-conter-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.main .main-center .lun-bigbox .lun-conter {
  position: absolute;
  width: 100%;
  height: 100%;
}

.main .main-center .lun-bigbox .lun-conter .lun-conter-text {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -128px;
  margin-left: -320px;
  width: 400px;
  height: 360px;
}

.main .main-center .lun-bigbox .lun-conter .lun-conter-text p {
  font-size: 16px;
  color: #d4bb81;
  line-height: 35px;
}

.main .main-center .lun-bigbox .lun-conter .lun-conter-text h3 {
  color: #d8bf89;
  margin: 5px 0;
  font-size: 19px;
}

.main .main-center .lun-bigbox .lun-conter .lun-conter-title {
  position: absolute;
  left: 420px;
  top: 180px;
  color: #d4bb81;
  width: 140px;
}

.main .main-center .lun-bigbox .lun-conter .lun-conter-title span {
  display: inline-block;
  text-align: center;
  position: absolute;
}

.main .main-center .lun-bigbox .lun-conter .lun-conter-title > span:nth-child(1) {
  width: 90px;
  font-size: 72px;
  text-align: center;
  font-weight: 800;
  top: 0;
  left: 0;
}

.main .main-center .lun-bigbox .lun-conter .lun-conter-title > span:nth-child(2) {
  width: 50px;
  font-size: 32px;
  right: 0;
  top: 0;
}

.main .main-center .lun-bigbox .lun-add1 {
  background: url(../images/index/index-main-center-click1.png);
}

.main .main-center .lun-bigbox .lun-add2 {
  background: url(../images/index/index-main-center-click2.png);
}

.main .main-center .lun-bigbox .lun-add3 {
  background: url(../images/index/index-main-center-click3.png);
}

.main .main-center .lun-bigbox .lun-add4 {
  background: url(../images/index/index-main-center-click4.png);
}

.main .main-center .lun-bigbox .lun-add5 {
  background: url(../images/index/index-main-center-click5.png);
}

.main .main-center .lun-bigbox .lun-add6 {
  background: url(../images/index/index-main-center-click6.png);
}

.main .main-center .lun-bigbox .lun-left, .main .main-center .lun-bigbox .lun-right {
  width: 51px;
  height: 65px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.main .main-center .lun-bigbox .lun-left {
  background: url(../images/index/index-main-center-leftbut.png);
  left: 250px;
}

.main .main-center .lun-bigbox .lun-right {
  background: url(../images/index/index-main-center-rightbut.png);
  right: 250px;
}

.main .main-center .lun-bigbox .lun-butstop {
  opacity: 0.5;
}

.main .main-center .lun-bigbox .lun-stop {
  position: absolute;
  right: 320px;
  top: 0;
  width: 54px;
  height: 50px;
  background: url(../images/index/index-main-center-X.png);
  z-index: 1;
}

.main .main-bottom {
  width: 1260px;
  height: 530px;
  margin: 0 auto;
  position: relative;
}

.main .main-bottom-title {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 329px;
  height: 60px;
  background: url(../images/index/index-main-bottom-title.png);
}

.main .main-footer {
  position: relative;
  height: 260px;
  width: 100%;
  margin-top: 70px;
}

.main .main-footer .main-footer-top {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 10;
  text-align: center;
  font-size: 12px;
}

.main .main-footer .main-footer-top ul {
  overflow: hidden;
}

.main .main-footer .main-footer-top li {
  float: left;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-right: 30px;
}

.main .main-footer .main-footer-top li a {
  color: #fff;
}

.main .main-footer .main-footer-top li a:hover {
  color: red;
}

.main .main-footer .main-footer-bottom {
  position: absolute;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1024px;
  height: 179px;
}

.main .main-footer .main-footer-bottom .footer-bottom-one > a {
  display: inline-block;
  font-size: 10px;
}

.main .main-footer .main-footer-bottom .footer-bottom-one span {
  position: relative;
  height: 50px;
  display: inline-block;
  line-height: 2;
}

.main .main-footer .main-footer-bottom .footer-bottom-one span p {
  color: #fff;
}

.main .main-footer .main-footer-bottom .footer-bottom-one span a {
  color: #fff;
}

.main .main-footer .main-footer-bottom .footer-bottom-one span a:hover {
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.main .main-footer .main-footer-bottom .footer-bottom-one span div {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  height: 26px;
  background-color: red;
}

.main .main-footer .main-footer-bottom .footer-bottom-two {
  line-height: 2.5;
}

.main .main-footer .main-footer-bottom .footer-bottom-two p {
  color: #fff;
}

.main-bottom-lun-box {
  position: absolute;
  top: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1260px;
  height: 550px;
}

.main-bottom-lun-box li {
  width: 810px;
  height: 389px;
}

.main-bottom-lun-box img {
  border: 3px solid #cbc08e;
  width: 810px;
  height: 389px;
}
/*# sourceMappingURL=index.css.map */