html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.clearfix:before ,.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
   *zoom: 1;  
}

// 音乐跳动动画
@keyframes miuse {
    0%{
        height: 4px;
    }
    50%{
        height: 10px;
    }
    100%{
        height: 4px;
    }
}
// box0 箭头上下跳动动画
@keyframes box0-jiantou{
    0%{
        top: 946px;
    }
    50%{
        top: 976px;
    }
    100%{
        top: 946px;
    }
}

// 顶部导航 
.top-nav{
    position: relative;
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    border-bottom: 1px solid #fff;
    z-index: 9999;
    // 游戏全目录下滑列表
    .top-nav-select{
        display:none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        height: 500px;
        z-index: 10;
        border-top: 1px solid #ccc;
        .top-nav-select-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 1260px; 
            height: 100%;
            overflow: hidden;
        }
        // 下滑列表上部分（标题）
        .select-top{
            float: left;
            overflow: hidden;
            li{
                float: left;
                b{
                    display: block;
                    width: 100%;
                    height: 39px;
                    background-color: #f7f7f8;
                    line-height: 39px;
                    font-size: 14px;
                    text-indent: 20px;
                    color: #bc2e2e;
                }
            }
           &>li:nth-child(1){
            width: 299px;
           }
           &>li:nth-child(2){
            width: 828px;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
           }
           &>li:nth-child(3){
            float: right;
            width: 131px;
           }
        }
        // 下滑列表下部分 （内容）
        .select-bottom{
            float: left;
            overflow: hidden;
            height: 445px;
            width: 100%;
            li{
                position: relative;
                float: left;
                height: 100%;
                padding: 10px 0 0 14px;
                background-color: #fdfefe;
                box-sizing: border-box;
                line-height: 24px;
               &>a,.li-box>a{
                    margin-left: 6px;
                    display: block;
                    &:hover{
                        color: #bc2e2e;
                    }
                }
                p{
                    padding: 0;
                    margin: 0;
                    margin-left: 6px;
                    line-height: 24px;
                    margin-bottom: 4px;
                    font-weight: 700;
                    color: #626262;
                }
            }
            &>li:nth-child(1){
                width: 135px;
            }
            &>li:nth-child(2){
                display: inline-block;
                width: 165px;
                border-right: 1px solid #eee;
                a{
                    width: 105px;
                }
            }
            &>li:nth-child(3){
                width: 148px; 
            }
            &>li:nth-child(4){
                width: 682px;
                border-right: 1px solid #eee;
                div{
                    float: left;
                    width: 133px;
                }
            }
            &>li:nth-child(5){
                width: 117px;
            }
        }
    }
    // 下拉框添加热点标签
    .select-no1{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -267px;
    }
    .select-new{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -206px;
    }
    .select-hot{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -144px;
    }
    // .热门手游按钮
    #select-but{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px!important;
        height: 95px;
        background-color: #bc2e2e;
        color: #ffffff;
        opacity: 1;
        padding: 7px 0 0 10px;
        &:hover{
            opacity: 0.7;
        }
        width: 20px!important;
        line-height: 1.3!important;
        color: #fff;
    }

    // 顶部导航左边按钮
    .top-nav-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 179px;
        height: 54px;
        background-color: #cf1132;
        a{
           display: block;
            font-size: 12px;
            line-height: 54px;
            text-align: center;
            color: #fff;
        }
        i{
            display: inline-block;
            width: 25px;
            height: 11px;
            background: url(../images/index/index-jingling.png) -90px -306px no-repeat;
            margin-right: 8px;
        }
    }
    // 顶部导航中间logo
    .top-nav-cent{
        position: absolute;
        top: 0;
        left: 50%;
        width: 133px;
        height: 54px;
        a{
            display: block;
            width: 133px;
            height: 44px;
            margin-left: -30px;
            margin-top: 5px;
        }
    }
    // 顶部导航左边文字轮播
    .top-nav-right{
        position: absolute;
        top: 0;
        right: 0;
        height: 54px;
        border-left: 1px solid#dadada;
        overflow: hidden;
        .swiper-slide{
            width: 138px;
            height: 52px;
            text-align: center;
            line-height: 52px;
            box-sizing: border-box;
            &:hover{
                border-bottom: 2px solid red;
                color: red;
                background-color: rgba(0, 0, 0, 0.1);
                transition: all 0.5s;
            }
        }
    }
}
// 二级导航
.erji-nav{
    width: 100%;
    min-width: 1440px;
    height: 70px;
    position: relative;
    background-image: url(../images/main-baiwenpai/top-nav-background.png);
    box-sizing: border-box;
    padding-left: 30px;
    border-bottom: 2px solid #352ea2;
    z-index: 15;
    .erji-left{
        width: 260px;
        float: left;
        a{
            display: block;
            width: 77px;
            height: 77px;
            background-image: url(../images/main-baiwenpai/baiwen-logo.webp);
            background-size: cover;
            position: absolute;
            top: 10px;
            z-index: 2;
        }
        div{
            float: right;
            margin-top: 9px;
            h3{
                font-size: 28px;
                color: #d9d9d9;
                line-height: 36px;
            }
            p{
                font-size: 14px;
                color: #d9d9d9;
            }
        }
    }
    .erji-right{
        float: right;
        position: relative;
        top: 25px;
        z-index: 3;
        li{
            width: 38px;
            height: 30px;
            float: left;
            position: relative;
            &:hover div{
                display: block;
            }
            a{
                position: relative;
                display: block;
                color: #FFF;
                font-size: 14px;
                z-index: 2;
            }
            i{
                position: relative;
                float: left;
                display: block;
                width: 22px;
                height: 14px;
                overflow: hidden;
                z-index: 10;
                cursor: pointer;
                .i-miuse{
                    animation: miuse 0.5s linear infinite;
                }
                strong{
                    display: block;
                    float: left;
                    width: 2px;
                    height: 4px;
                    background: #fff;
                    position: absolute;
                    bottom: 0;
                }
                .miuse1{
                    
                    animation-delay: .4s;
                }
                .miuse2{
                    
                    left: 5px;
                }
                .miuse3{
                    
                    animation-delay: .8s;
                    left: 10px;
                }
                .miuse4{
                   
                    animation-delay: .6s;
                    left: 15px;
                }
                .miuse5{
                    
                    animation-delay: .2s;
                    left: 20px;
                }
            }
            div{
                display: none;
                width: 181px;
                height: 251px;
                background-image: url(../images/main-baiwenpai/erji-tab-1.png);
                position: absolute;
                top: -9px;
                left: -109px;
                img{
                    display: block;
                    width: 98px;
                    margin: 68px auto 5px;
                }
                p{
                    color: #fff;
                    text-align: center;
                }
            }
        }
        .erji-QQ{
            .erji-xia-box{
                width: 507px;
                height: 261px;
                background-image: url(../images/main-baiwenpai/erji-tab-2.png);
                position: absolute;
                top: -9px;
                left: -436px;
                ul{
                    padding: 70px 40px 32px;
                    width: 507px;
                    height: 261px;
                    box-sizing: border-box;
                    li{
                        position: relative;
                        width: 48%;
                        color: #b6b3e6;
                        line-height: 24px;
                        height: 24px;
                        float: left;
                        margin-left: 2%;
                        a{
                            display: block;
                            color: #b6b3e6;
                            line-height: 24px;
                            height: 24px;
                        }
                    }
                    &>li:last-child{
                        font-size: 14px;
                        color: #fff;
                    }
                }
            }
        }
        .erji-dashen{
            p{
                height: 32px;
                line-height: 64px;
            }
        }
    }
    .erji-cent{
        position: relative;
        z-index: 2;
        float: right;
        li{
            width: 120px;
            height: 70px;
            float: left;
            position: relative;
            &::after{
                z-index: 1;
                opacity: 0;
                display: block;
                content: '';
                clear: both;
                width: 132px;
                height: 84px;
                position: absolute;
                top: 0;
                left: -3px;
                margin-top: -70px;
                background-image: url(../images/main-baiwenpai/erji-nav-cent-on.png);
                background-repeat: no-repeat;
                transition: margin-top .4s;
            }
            &:hover::after{
                opacity: 1;
                display: block;
                margin-top: 0;
            }
            &:hover a{
                color: #695187;
            }
            a{
                display: block;
                font-size: 20px;
                color: #b9b7cc;
                position: relative;
                line-height: 70px;
                text-align: center;
                z-index: 2;
            }
        }
        &>li:last-child {
            &::after{
                content: none;
            }
            &::before{
                position: absolute;
                display: block;
                width: 8px;
                height: 8px;
                content: '';
                border-radius: 50%;
                background: #b10b0b;
                top: 47%;
                right: 4px;
            }
            width: 95px;
            margin-right: 15px;
        }
    }
}
// 主页部分
.main{
    // 板块通用样式
    .main-box{
        width: 100%;
        min-width: 1200px;
        overflow: hidden;
        position: relative;
        background-repeat: no-repeat;
        background-position: center center;
    }
    // 版头部分
    .main-box0{
        height: 1170px;
        background-image: url(../images/main-baiwenpai/main-box0-background.jpg);
        // 视频
        .box0-video{
            width: 1920px;
            height: 974px;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -960px;
        }
        // logo
        .box0-logo{
            width: 200px;
            height: 402px;
            background-image: url(../images/main-baiwenpai/box0-logo.webp);
            position: absolute;
            top: 80px;
            left: 50%;
            margin-left: -100px;
            opacity: 1;
            // margin-top: -20px;
            transition: all .8s;
        }
        .box0-erwei{
            display: block;
            width: 396px;
            height: 107px;
            position: absolute;
            top: 483px;
            left: 50%;
            margin-left: -198px;
            // opacity: 0;
            // margin-top: -20px;
            transition: all .8s;
            .box0-erwei-left{
                width: 103px;
                height: 103px;
                float: left;
                margin-right: 6px;
                img{
                    width: 100%;
                }
            }
            .box0-erwei-cent{
                float: left;
                margin-right: 6px;
                a{
                    display: block;
                    width: 161px;
                    height: 49px;
                    cursor: pointer;
                }
                .top{
                    margin-bottom: 5px;
                    background-image: url(../images/main-baiwenpai/box0-erwei2.png);
                }
                .bottom{
                    background-image: url(../images/main-baiwenpai/box0-erwei3.png);
                }
                
            }
            .box0-erwei-right{
                float: left;
                width: 116px;
                height: 103px;
                position: relative;
                a{
                    float: left;
                    width: 116px;
                    height: 103px;
                    background: url(../images/main-baiwenpai/box0-erwei4.png) no-repeat center center;
                    background-size: 100% 100%;
                }
            }
        }
        .box0-jiantou{
            width: 134px;
            height: 191px;
            position: absolute;
            top: 946px;
            left: 50%;
            margin-left: -67px;
            // opacity: 1;
            // margin-top: -20px;
            transition: all .8s;
            background-image: url(../images/main-baiwenpai/box0-jiantou.png);
            background-repeat: no-repeat;
            animation: box0-jiantou 3s linear infinite;
        }
    }
    // 第一板块
    .main-box1{
        height: 847px;
        background-image: url(../images/main-baiwenpai/main-box1-background.jpg);
        .title{
            width: 148px;
            height: 172px;
            margin: -18px auto 0 auto;
            position: relative;
            background-repeat: no-repeat;
            .bac{
                width: 148px;
                height: 149px;
                background-image: url(../images/main-baiwenpai/box1-title-yuelianng.png);
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -74px;
            }
            .title-box{
                width: 66px;
                height: 112px;
                background-image: url(../images/main-baiwenpai/box1-title.png);
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -19px;
            }
        }
        .box1-new{
            width: 1200px;
            height: 375px;
            position: relative;
            margin: 70px auto 0;
            .box1-new-background{
                width: 990px;
                height: 320px;
                background-image: url(../images/main-baiwenpai/box1-new-background.png);
                position: absolute;
                top: 40px;
                left: 201px;
            }
            .box1-left{
                width: 695px;
                height: 375px;
                position: absolute;
                top: 20px;
                left: 0;
                margin-top: -30px;
                margin-left: 30px;
                opacity: 0;
                transition: all .6s;
                overflow: hidden;
                ul{
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 375px;
                    width: 2780px;
                    li{
                        float: left;
                        width: 695px;
                        height: 375px;
                        a{
                            width: 100%;
                            height: 100%;
                            div{
                                width: 695px;
                                height: 320px;
                                box-sizing: border-box;
                                border: 5px solid #3c36b3;
                                overflow: hidden;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    transition: all .8s;
                                    &:hover{
                                        transform: scale(1.2);
                                    }
                                }
                            }
                            p{
                                width: 470px;
                                float: right;
                                text-align: right;
                                font-size: 18px;
                                color: #bab6bc;
                                margin-top: 10px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }
                    }   
                }
            }
            .box1-left-but{
                position: absolute;
                left: 0;
                bottom: 0;
                transition: all .6s .5s;
                span{
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    background-image: url(../images/main-baiwenpai/box1-left-but.png);
                    margin-right: 10px;
                    background-color: transparent;
                    opacity: 1;
                    cursor: pointer;
                }
                .on{
                    background-image: url(../images/main-baiwenpai/box1-left-but-on.png);
                }
            }
            .box1-right{
                width: 468px;
                height: 375px;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: -30px;
                margin-left: 30px;
                opacity: 0;
                transition: all .6s;
                .box1-right-top{
                    position: absolute;
                    right: 38px;
                    top: 15px;
                    li{
                        float: left;
                        font-size: 24px;
                        color: #b7b3b9;
                        width: 24px;
                        margin-right: 30px;
                        position: relative;
                        cursor: pointer;
                        z-index: 2;
                        &:hover span{
                            opacity: 1;
                            top: -10px;
                        }
                        .on{
                            opacity: 1;
                            top: -10px;
                        }
                        span{
                            opacity: 0;
                            clear: both;
                            width: 18px;
                            height: 50px;
                            position: absolute;
                            top: -50px;
                            right: -5px;
                            z-index: -1;
                            transition: all .6s;
                            background-image: url(../images/main-baiwenpai/box1-right-but-back.png);
                        }
                        a{
                            color: #b7b3b9;
                        }
                    }
                }
                .box1-right-cent{
                    display: block;
                    width: 420px;
                    height: 33px;
                    background-image: url(../images/main-baiwenpai/box1-right-cent-background.png);
                    text-align: center;
                    font-size: 20px;
                    color: #bab6bc;
                    position: absolute;
                    top: 98px;
                    box-sizing: border-box;
                    padding: 0 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .box1-right-bottom{
                    width: 420px;
                    height: 173px;
                    overflow: hidden;
                    position: absolute;
                    top: 155px;
                    &>ul:first-child{
                        display: block;
                    }
                    ul{
                        display: none;
                        li{
                            height: 40px;
                            line-height: 40px;
                            border-bottom: 1px dotted #484854;
                            a{
                                &:hover span{
                                    color: #fff;
                                }
                                &>span:first-child {
                                    width: 350px;
                                    float: left;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                }
                                &>span:last-child {
                                    float: right;
                                }
                                span{
                                    font-size: 14px;
                                    color: #979499;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 第二板块
    .main-box2{
        height: 971px;
        background-image: url(../images/main-baiwenpai/main-box2-background.jpg);
        .title{
            width: 148px;
            height: 172px;
            margin: -18px auto 0 auto;
            position: relative;
            background-repeat: no-repeat;
            .bac{
                width: 148px;
                height: 149px;
                background-image: url(../images/main-baiwenpai/box1-title-yuelianng.png);
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -74px;
            }
            .title-box{
                width: 66px;
                height: 112px;
                background-image: url(../images/main-baiwenpai/box2-title.png);
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -19px;
            }
        }

        .box2-lun{
            width: 1200px;
            height: 760px;
            position: relative;
            margin: -36px auto 0 auto;
            opacity: 0;
            transition: all .6s;

            .box2-lun-box{
                width: 830px;
                height: 600px;
                position: absolute;
                left: 364px;
                top: 0;
                overflow: hidden;
                .box2-lun-ul{
                    position: absolute;
                    width: 30710px;
                    height: 100%;
                    left: 0;
                }
                .lun-minbox{
                    position: relative;
                    float: left;
                    width: 830px;
                    height: 100%;
                    .left-img{
                        position: absolute;
                        top: 0;
                        left: 105px;
                        display: block;
                    }
                    .right-img{
                        position: absolute;
                        top: 22px;
                        right: 0;
                        display: block;
                    }
                }
            }
        }
        // 左右按钮
        .box2-left-but{
            width: 117px;
            height: 42px;
            position: absolute;
            top: 348px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../images/main-baiwenpai/box2-left-but.png);
            transition: all .8s linear;
            left: 20px;
            z-index: 12;
        }
        .box2-right-but{
            width: 117px;
            height: 42px;
            position: absolute;
            top: 348px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../images/main-baiwenpai/box2-right-but.png);
            transition: all .8s linear;
            right: 20px;
            z-index: 12;
        }
        // tab列表
        .box2-tab{
            width: 323px;
            height: 280px;
            overflow: hidden;
            position: relative;
            transition: all .8s;
            left: 0;
            top: 177px;
            box-sizing: border-box;
            padding-top: 20px;
            .box2-tab-box{
                display: flex;
                align-items: flex-start;
                position: absolute;
                left: 0;
                .on{
                    width: 33px;
                    font-size: 24px;
                    color: #fff;
                    text-align: left;
                    i{
                        display: block;
                    }
                }
            }
            span{
                display: inline-block;
                width: 22px;
                color: #8f8e99;
                font-size: 18px;
                margin-right: 13px;
                border-radius: inherit;
                background: 0 0;
                opacity: 1;
                transition: all .6s;
                position: relative;
                background-repeat: no-repeat;
                z-index: 2;
                padding-top: 37px;
                transition: all .4s;
                cursor: pointer;
                height: 8px;
                i{
                    display: none;
                    clear: both;
                    width: 33px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    height: 98px;
                    background-image: url(../images/main-baiwenpai/box2-tab-on.png);
                }
            }
        }
    }
    // 第三版块
    .main-box3{
        height: 683px;
        background-image: url(../images/main-baiwenpai/main-box3-background.jpg);
        .title{
            width: 148px;
            height: 172px;
            margin: -18px auto 0 auto;
            position: relative;
            background-repeat: no-repeat;
            .bac{
                width: 148px;
                height: 149px;
                background-image: url(../images/main-baiwenpai/box1-title-yuelianng.png);
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -74px;
            }
            .title-box{
                width: 66px;
                height: 112px;
                background-image: url(../images/main-baiwenpai/box3-title.png);
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -19px;
            }
        }
        .box3-centen{
            width: 1200px;
            height: 330px;
            margin: 0 auto;
            position: relative;
            z-index: 3;
            .box3-leftbox{
                width: 602px;
                height: 330px;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: -20px;
                opacity: 0;
                // opacity: 1;
                // margin-top: 0;
                transition: all .6s;
                .box3-left-title{
                    width: 48px;
                    height: 133px;
                    background-image: url(../images/main-baiwenpai/box3-leftbox-title.png);
                    position: absolute;
                    top: 23px;
                    left: 0;
                }
                ul{
                    width: 544px;
                    height: 213px;
                    position: absolute;
                    top: 53px;
                    right: 0;
                    background-image: url(../images/main-baiwenpai/box3-left-background.png);
                    overflow: hidden;
                    box-sizing: border-box;
                    padding: 6px 43px 20px 25px;
                    li{
                        height: 38px;
                        line-height: 38px;
                        border-bottom: 1px dotted #484854;
                        a{
                            &:hover span{
                                color: #fff;
                            }
                            &>span:first-child {
                                width: 350px;
                                float: left;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            &>span:last-child {
                                float: right;
                            }
                            span{
                                font-size: 14px;
                                color: #979499;
                            }
                        }
                    }
                }
                .bottom-a{
                    color: #fff;
                    font-size: 16px;
                    position: absolute;
                    bottom: 25px;
                    right: 0px;
                    text-decoration: underline;
                }
            }
            .box3-rightbox{
                width: 590px;
                height: 330px;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: -20px;
                opacity: 0;
                // opacity: 1;
                // margin-top: 0;
                transition: all .8s;
                .box3-right-title{
                    width: 48px;
                    height: 133px;
                    background-image: url(../images/main-baiwenpai/box3-rightbox-title.png);
                    position: absolute;
                    top: 23px;
                    left: 0;
                }
                ul{
                    width: 316px;
                    height: 220px;
                    position: absolute;
                    left: 61px;
                    top: 52px;
                    overflow: hidden;
                    li{
                        float: left;
                        margin-right: 10px;
                        width: 69px;
                        height: 210px;
                        margin-bottom: 10px;
                        background-image: url(../images/main-baiwenpai/box3-right-box-li.png);
                        .on{
                            background-image: url(../images/main-baiwenpai/box3-right-box-li-on.png);
                        }
                        &:hover a{
                            background-image: url(../images/main-baiwenpai/box3-right-box-li-on.png);
                        }
                        a{
                            width: 69px;
                            height: 210px;
                            display: block;
                            font-size: 18px;
                            color: #fff;
                            line-height: 70px;
                            text-align: center;
                            writing-mode: tb-rl;
                        }
                    }
                }
                .hide{
                    display: none;
                }
                .box3-right-gif{
                    width: 222px;
                    height: 296px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    .right-gif-background{
                        width: 177px;
                        height: 248px;
                        background-image: url(../images/main-baiwenpai/box3-gif-background.png);
                        position: absolute;
                        top: 25px;
                        left: -4px;
                    }
                    img{
                        width: 200px;
                        position: absolute;
                        left: -26px;
                    }
                    .right-gif-jinjie{
                        width: 105px;
                        height: 52px;
                        background-image: url(../images/main-baiwenpai/box3-jinjie.png);
                        position: absolute;
                        top: -9px;
                        right: -28px;
                    }
                }
                .bottom-a{
                    color: #fff;
                    font-size: 16px;
                    position: absolute;
                    bottom: 25px;
                    right: 62px;
                    text-decoration: underline;
                }
            }
        }
    }
    // 第四板块
    .main-box4{
        height: 1410px;
        background-image: url(../images/main-baiwenpai/main-box4-background.jpg);
        .title{
            width: 148px;
            height: 172px;
            margin: -18px auto 0 auto;
            position: relative;
            background-repeat: no-repeat;
            .bac{
                width: 148px;
                height: 149px;
                background-image: url(../images/main-baiwenpai/box1-title-yuelianng.png);
                position: absolute;
                top: 0;
                left: 50%;
                margin-left: -74px;
            }
            .title-box{
                width: 66px;
                height: 112px;
                background-image: url(../images/main-baiwenpai/box4-title.png);
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -19px;
            }
        }
        // 轮播
        .banner_box .left_btn {
            position: relative;
            top: -350px;
            height: 100px;
            width: 80px;
            z-index: 10;
        }
    
        .banner_box ._left_btn:hover{
            cursor:pointer;
        }
    
        .banner_box .right_btn {
            float: right;
            position: relative;
            top: -350px;
            right: 0;
            height: 100px;
            width: 80px;
            z-index: 10;
        }
    
        .banner_box .right_btn:hover{
            cursor:pointer;
        }
    
        .banner_box {
            max-width: 1600px;
            min-width: 1200px;
            margin: 0 auto;
        }
    
        .box {
            width: 1300px;
            height: 455px;
            margin: -3px auto;
            opacity: 0;
            transition: all .8s;
        }
    
        .carousel{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            .img{
                // overflow: hidden;
                position: absolute;
                transition: width 0.4s,height 0.4s,top 0.4s,left 0.4s,z-index 0.4s;
                background-color: #3c36b3;
                .img-title{
                    position: absolute;
                    left: 20px;
                    top: -10px;
                    z-index: 2;
                }
                .on{
                    position: absolute;
                    left: 20px;
                    top: -10px;
                    z-index: 2;
                    p{
                        width: 50px;
                        height: 200px;
                        line-height: 50px;
                        color: #fff;
                        font-size: 19px;
                        background-color: #352ea2;
                        padding: 18px 0 60px;
                    }
                   a{
                    width: 76px;
                    height: 78px;
                    background-image: url(../images/main-baiwenpai/box4-lun-yue.png);
                    top: 196px;
                    left: -21px;
                   }
                }
                p{
                    line-height: 30px;
                    height: 128px;
                    writing-mode: tb-rl;
                    background-color: #000;
                    color: #b4b5ca;
                    font-size: 13px;
                    padding: 8px 0 30px;
                }
                a{
                    display: block;
                    width: 10px;
                    height: 14px;
                    background-image: url(../images/main-baiwenpai/box4-lun-bo.png);
                    position: absolute;
                    top: 130px;
                    left: 13px;
                }
                &:hover img{
                    transform: scale(1.2);
                }
                img{
                    transition: all 0.6s;
                    width: calc(100% - 14px);
                    height: calc(100% - 14px);
                    margin: 7px;
                }
            }
            .img1{
                width: 0px;
                height: 0px;
                top: 30%;
                left: -50%;
                z-index: 1;
                .img-title{
                    opacity: 0;
                }
            }
            .img2{
                width: 317px;
                height: 178px;
                top: 45%;
                left: 1%;
                z-index: 2;
            }
            .img3{
                width: 582px;
                height: 327px;
                top: 20%;
                left: 28%;
                z-index: 3;
            }
            .img4{
                width: 317px;
                height: 178px;
                top: 45%;
                left: 75%;
                z-index: 2;
            }
            .img5{
                width: 0px;
                height: 0px;
                top: 30%;
                left: 110%;
                z-index: 1;
                .img-title{
                    opacity: 0;
                }
            }
        }
        .lun-but-left{
            width: 98px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -140px;
            z-index: 10;
            cursor: pointer;
            background: url(../images/index-baiwenpai/box5-lun-left.png) no-repeat center;
            margin-left: -640px;
        }
        .lun-but-right{
            width: 98px;
            height: 24px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -140px;
            z-index: 10;
            cursor: pointer;
            background: url(../images/index-baiwenpai/box5-lun-right.png) no-repeat center;
            margin-left: 547px;
        }
        // 轮播按钮
        .lun-but-box{
            height: 26px;
            text-align: center;
            margin-top: 37px;
            z-index: 10;
            bottom: 10px;
            left: 0;
            width: 100%;
            span{
                display: inline-block;
                border-radius: 100%;
                width: 26px;
                height: 26px;
                background: url(../images/index-baiwenpai/but-no.png) no-repeat center;
                margin: 0 4px;
                cursor: pointer;
                opacity: 1;
            }
            .on{
                background: url(../images/index-baiwenpai/but-on.png) no-repeat center;
            }
        }
    }
    // 主页底部
    .main-footer{
    position: absolute;
    bottom: 400px;
    height: 260px;
    width: 100%;
    margin-top: 70px;
    .main-footer-top{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10;
        // width: 435px;
        text-align: center;
        font-size: 12px;
        ul{
            overflow: hidden;
        }
        li{
            float: left;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            margin-right: 30px;
            a{
                color: #fff;
                &:hover{
                    color: red;
                }
            }
        }
    }
    .main-footer-bottom{
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        width: 1024px;
        height: 179px;
        .footer-bottom-one{
            &>a{
                display: inline-block;
                font-size: 10px;
            }
            span{
                position: relative;
                // margin-top: 5px;
                height: 50px;
                display: inline-block;
                line-height: 2;
                p{
                    color: #fff;
                }
                a{
                    color: #fff;
                    &:hover{
                        text-decoration: solid;
                    }
                }
                div{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: inline-block;
                    height: 26px;
                    background-color: red;
                }
            }
        }
        .footer-bottom-two{
            line-height: 2.5;
            p{
                color: #fff;
            }
        }
    }
    }



}