html, body {
  height: 1000%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@-webkit-keyframes jiguang {
  0% {
    top: 0px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 0px;
  }
}

@keyframes jiguang {
  0% {
    top: 0px;
  }
  50% {
    top: 80px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes jiantou {
  0% {
    margin-left: 160px;
  }
  11% {
    margin-left: 140px;
  }
  22% {
    margin-left: 160px;
  }
  33% {
    margin-left: 145px;
  }
  44% {
    margin-left: 160px;
  }
  55% {
    margin-left: 150px;
  }
  66% {
    margin-left: 160px;
  }
  77% {
    margin-left: 155px;
  }
  88% {
    margin-left: 160px;
  }
  99% {
    margin-left: 158px;
  }
  100% {
    margin-left: 160px;
  }
}

@keyframes jiantou {
  0% {
    margin-left: 160px;
  }
  11% {
    margin-left: 140px;
  }
  22% {
    margin-left: 160px;
  }
  33% {
    margin-left: 145px;
  }
  44% {
    margin-left: 160px;
  }
  55% {
    margin-left: 150px;
  }
  66% {
    margin-left: 160px;
  }
  77% {
    margin-left: 155px;
  }
  88% {
    margin-left: 160px;
  }
  99% {
    margin-left: 158px;
  }
  100% {
    margin-left: 160px;
  }
}

.zjon {
  color: #c2a060;
}

.two-nav {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 60px;
  background: url(../images/main/main-two-nav-background.jpg);
  z-index: 100;
}

.two-nav .two-nav-select {
  display: none;
  background: url(../images/main/main-two-select-background.jpg) center 0 no-repeat;
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 140px;
  top: 60px;
}

.two-nav .two-nav-select .two-nav-select-container {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}

.two-nav .two-nav-select .top-nav-select-box1 {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.two-nav .two-nav-select .top-nav-select-box1 a {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 149.2px;
  height: 92px;
  margin: 0 10px;
}

.two-nav .two-nav-select .top-nav-select-box1 i {
  color: #fff;
  background: #c2a060;
  width: 15px;
  padding: 2px 3px;
  line-height: 18px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.two-nav .two-nav-select .top-nav-select-box1 img {
  width: 100%;
  height: 100%;
}

.two-nav .two-nav-select .top-nav-select-box1 span {
  background: url(../images/main/main-nav-select-zhezhao.png) no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.two-nav .two-nav-select .top-nav-select-box1 p {
  position: absolute;
  bottom: 2px;
  padding: 0 6px;
  width: 100%;
  height: auto;
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  white-space: normal;
}

.two-nav .two-nav-select .top-nav-select-box2 {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 24px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.two-nav .two-nav-select .top-nav-select-box2 a {
  display: inline-block;
  position: relative;
  width: 149.2px;
  height: 92px;
  margin: 0 7px;
}

.two-nav .two-nav-select .top-nav-select-box2 img {
  width: 145.2px;
  height: 88px;
  border: 2px solid #000;
}

.two-nav .two-nav-select .top-nav-select-box2 i {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #c2a060;
  font-size: 14px;
  color: #000;
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 2px;
  font-weight: 700;
  letter-spacing: 2px;
}

.two-nav .two-nav-select .top-nav-select-box3 {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 24px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.two-nav .two-nav-select .top-nav-select-box3 a {
  display: inline-block;
  position: relative;
  width: 149.2px;
  height: 92px;
  margin: 0 7px;
}

.two-nav .two-nav-select .top-nav-select-box3 img {
  width: 145.2px;
  height: 88px;
  border: 2px solid #000;
}

.two-nav .two-nav-select .top-nav-select-box3 i {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #c2a060;
  font-size: 14px;
  color: #000;
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 2px;
  font-weight: 700;
  letter-spacing: 2px;
}

.two-nav .two-nav-select .top-nav-select-box4 {
  display: none;
  padding: 24px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.two-nav .two-nav-select .top-nav-select-box4 > a {
  display: inline-block;
  position: relative;
  margin: 0 10px;
  width: 220px;
  height: 92px;
}

.two-nav .two-nav-select .top-nav-select-box4 > a img {
  width: 216px;
  height: 88px;
  border: 2px solid #000;
}

.two-nav .two-nav-select .top-nav-select-box4 > a span {
  background: url(../images/main/main-nav-select-zhezhao.png) no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.two-nav .two-nav-select .top-nav-select-box4 > a span i {
  position: absolute;
  bottom: 2px;
  padding: 0 6px;
  width: 100%;
  height: auto;
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #c2a060;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  white-space: normal;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-1, .two-nav .two-nav-select .top-nav-select-box4 .box4-2 {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 216px;
  margin-left: 20px;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-1 div, .two-nav .two-nav-select .top-nav-select-box4 .box4-2 div {
  background-image: url(../images/main/main-top-jingling.png);
  background-position: -810px -870px;
  width: 88px;
  height: 19px;
  background-repeat: no-repeat;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-1 ul, .two-nav .two-nav-select .top-nav-select-box4 .box4-2 ul {
  height: 60px;
  margin-top: 18px;
  overflow: hidden;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-1 ul li, .two-nav .two-nav-select .top-nav-select-box4 .box4-2 ul li {
  float: left;
  line-height: 2;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-1 ul li span, .two-nav .two-nav-select .top-nav-select-box4 .box4-2 ul li span {
  margin-right: 8px;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-1 {
  border-right: 1px solid #a78442;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-2 > div {
  background-position: -720px -870px;
}

.two-nav .two-nav-select .top-nav-select-box4 .box4-2 li {
  margin-right: 8px;
}

.two-nav .two-nav-select .top-nav-select-box5 {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 24px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.two-nav .two-nav-select .top-nav-select-box5 a {
  display: inline-block;
  position: relative;
  width: 149.2px;
  height: 92px;
  margin: 0 7px;
}

.two-nav .two-nav-select .top-nav-select-box5 img {
  width: 145.2px;
  height: 88px;
  border: 2px solid #000;
}

.two-nav .two-nav-select .top-nav-select-box5 i {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #c2a060;
  font-size: 13px;
  color: #000;
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 2px;
  font-weight: 700;
  letter-spacing: 2px;
}

.two-nav .two-nav-select .top-nav-select-box6 {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 24px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.two-nav .two-nav-select .top-nav-select-box6 a {
  display: inline-block;
  position: relative;
  width: 149.2px;
  height: 92px;
  margin: 0 7px;
}

.two-nav .two-nav-select .top-nav-select-box6 img {
  width: 145.2px;
  height: 88px;
  border: 2px solid #000;
}

.two-nav .two-nav-select .top-nav-select-box6 i {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #c2a060;
  font-size: 14px;
  color: #000;
  display: block;
  height: 24px;
  line-height: 24px;
  padding: 0 2px;
  font-weight: 700;
  letter-spacing: 2px;
}

.two-nav .two-nav-select .top-nav-select-box10 {
  display: none;
  padding: 16px 0 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.two-nav .two-nav-select .top-nav-select-box10 a {
  float: left;
  position: relative;
  margin: 0 50px;
  width: 81px;
}

.two-nav .two-nav-select .top-nav-select-box10 a p {
  display: inline-block;
  width: 100%;
}

.two-nav .two-nav-select .top-nav-select-box10 > a:nth-child(3) img,
.two-nav .two-nav-select .top-nav-select-box10 > a:nth-child(4) img,
.two-nav .two-nav-select .top-nav-select-box10 > a:nth-child(5) img {
  border: 2px solid #a78442;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.two-nav .two-nav-select .top-nav-select-box10 .box7-2 {
  display: inline-block;
  height: 100%;
  width: 274px;
  border-left: 1px solid #a78442;
}

.two-nav .two-nav-select .top-nav-select-box10 .box7-2 p {
  color: #000;
  line-height: 1.5;
  font-size: 14px;
}

.two-nav .two-nav-select .top-nav-select-box11 {
  display: none;
  padding: 16px 0 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.two-nav .two-nav-select .top-nav-select-box11 a {
  width: 220px;
  height: 92px;
  float: right;
}

.two-nav .two-nav-select .top-nav-select-box11 p {
  display: inline-block;
}

.two-nav .two-nav-select .top-nav-select-box11 img {
  border: 2px solid #000;
  width: 216px;
  height: 88px;
}

.two-nav .two-nav-select .top-nav-select-box11 > a:nth-child(1) {
  margin-left: 15px;
}

.two-nav .two-nav-box {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 70px;
  width: 1200px;
  overflow: hidden;
}

.two-nav .two-nav-box a {
  float: left;
  position: relative;
  width: 100px;
  height: 65px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.two-nav .two-nav-box a::after {
  content: '';
  display: block;
  position: absolute;
  top: 24px;
  right: -1px;
  width: 1px;
  height: 10px;
  background: #fff;
}

.two-nav .two-nav-box a:nth-child(1) {
  background: url(../images/main/main-two-nav-xuanzhong.jpg);
  color: #000;
}

.two-nav .two-nav-sou {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-bottom: 1px solid #c2a060;
  padding-bottom: 2px;
}

.two-nav .two-nav-sou input {
  width: 160px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
}

.two-nav .two-nav-sou a {
  display: inline-block;
  width: 18px;
  height: 19px;
  background: url(../images/main/amin-two-nav-sousuo.png);
}

.two-nav .two-nav-hide {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  z-index: 100;
}

.two-nav .two-nav-hide p {
  color: #fff;
  position: relative;
  top: -22px;
}

.two-nav .two-nav-hide > p {
  display: inline-block;
  width: 15px;
  line-height: 14px;
  margin-right: 10px;
}

.two-nav .two-nav-hide > img {
  width: 76px;
  height: 76px;
  margin-right: 5px;
}

.two-nav .two-nav-hide a {
  margin-right: 15px;
}

.two-nav .two-nav-hide a img {
  width: 72px;
  height: 72px;
}

.two-nav .two-nav-hide div {
  display: inline-block;
}

.two-nav .two-nav-hide div > p:nth-child(1) {
  font-weight: 900;
  font-size: 24px;
  margin: 3px 0;
}

.main-top-centent {
  margin-top: 60px;
}

.main-top-centent > a {
  position: absolute;
  width: 58px;
  height: 170px;
  left: 150px;
  top: 160px;
  z-index: 10;
  background: url(../images/main/main-top-centent-logo.webp) 0 0 no-repeat;
  background-size: cover;
}

.main-top-centent .main-top-centent-box {
  width: 100%;
  height: 287px;
  position: absolute;
  bottom: 22px;
  left: 0;
  z-index: 10;
  background: url(../images/main/main-top-centent-lun-background.png) center bottom repeat-x;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox {
  position: relative;
  width: 1180px;
  height: 287px;
  margin: 0 auto;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-erwei {
  background: url(../images/main/main-top-jingling.png);
  width: 145px;
  height: 240px;
  padding-top: 47px;
  float: left;
  position: relative;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-erwei .main-top-lun-erwei-box {
  position: relative;
  width: 107px;
  height: 107px;
  margin: 0 auto;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-erwei .main-top-lun-erwei-box > img:nth-child(1) {
  width: 100%;
  height: 100%;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-erwei .main-top-lun-erwei-box > img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  -webkit-animation: jiguang 2s linear infinite;
          animation: jiguang 2s linear infinite;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-erwei .erwei-but1 {
  width: 107px;
  height: 47px;
  background: url(../images/main/main-top-centent-erwei-but1.png) no-repeat center center;
  background-size: 100%;
  display: block;
  margin: 10px auto;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-erwei .erwei-but2 {
  width: 107px;
  height: 47px;
  background: url(../images/main/main-top-centent-erwei-but2.png) no-repeat center center;
  background-size: 100%;
  display: block;
  margin: 10px auto;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-title {
  position: relative;
  top: 2px;
  left: 15px;
  height: 41px;
  overflow: hidden;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-title li {
  float: left;
  background: rgba(0, 0, 0, 0.8);
  color: #c2a060;
  line-height: 34px;
  width: 162px;
  height: 41px;
  text-align: center;
  font-size: 16px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-title li p {
  font-weight: 700;
  font-size: 14px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun-title li span {
  display: block;
  background: url(../images/main/main-top-jingling.png) -974px -870px;
  width: 83px;
  height: 4px;
  margin: 0 auto;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun {
  position: absolute;
  width: 1021px;
  left: 160px;
  top: 40px;
  height: 230px;
  overflow: hidden;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun ul {
  position: absolute;
  top: 20px;
  left: 0;
  width: 4160px;
  height: 177px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun ul > li:nth-child(1) {
  padding: 0;
  width: 240px;
  height: 177px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun ul > li:nth-child(1) img {
  width: 240px;
  height: auto;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun ul > li:nth-child(1) i {
  display: block;
  margin: 10px;
  color: #000;
  font-weight: 800;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun ul > li:nth-child(1) span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f24853;
  color: #fff;
  width: 15px;
  display: block;
  padding: 2px 3px;
  line-height: 20px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun ul > li:nth-child(1):hover span {
  top: -20px;
  -webkit-transition: top 0.6s;
  transition: top 0.6s;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun li {
  position: relative;
  float: left;
  width: 200px;
  height: 141px;
  background: #fff;
  padding: 20px 20px 16px;
  margin-right: 20px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun li:hover h2 a {
  color: #dba861;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun li:hover .main-top-lun-jiantou {
  -webkit-animation: jiantou 1s infinite linear;
          animation: jiantou 1s infinite linear;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun li h2 {
  font-size: 16px;
  font-weight: 900;
  height: 60px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
  white-space: normal;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun li p {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun li .main-top-lun-jiantou {
  width: 41px;
  height: 5px;
  background: url(../images/main/main-centent-jiantou.png) no-repeat;
  margin-left: 160px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun .main-top-lun-but {
  width: 1020px;
  text-align: right;
  margin-top: 10px;
  line-height: 22px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun .main-top-lun-but a {
  color: #fff;
  margin-left: 15px;
  padding-bottom: 1px;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun .main-top-lun-but a:hover {
  text-decoration: underline;
}

.main-top-centent .main-top-centent-box .main-top-centent-lun-minbox .main-top-lun .main-top-lun-but span {
  width: 1px;
  height: 13px;
  background: #fff;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.container {
  width: 1180px;
  margin: 43px auto 0;
  position: relative;
  z-index: 11;
}

.container .pingan {
  position: relative;
  margin-bottom: 70px;
}

.container .pingan .pingan-title {
  background-image: url(../images/main/main-top-jingling.png);
  background-position: -940px -532px;
  position: absolute;
  top: 0;
  left: 0;
  width: 54px;
  height: 145px;
  background-repeat: no-repeat;
}

.container .pingan .pingan-centent {
  width: 1180px;
  height: auto;
}

.container .pingan .pingan-qiehuan {
  width: 292px;
  height: 36px;
  border: 2px solid #c2a060;
  z-index: 10;
  position: relative;
  margin-left: 120px;
}

.container .pingan .pingan-qiehuan ul {
  width: 288px;
  height: 32px;
  border: 2px solid #fff;
}

.container .pingan .pingan-qiehuan ul li {
  float: left;
  width: 96px;
  height: 32px;
  background: #fff;
  position: relative;
  color: #000;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.container .pingan .pingan-qiehuan ul li:nth-child(1)::after, .container .pingan .pingan-qiehuan ul li:nth-child(2)::after {
  content: '';
  width: 1px;
  height: 18px;
  background: #c2a060;
  position: absolute;
  top: 7px;
  right: -1px;
  z-index: 10;
}

.container .pingan .pingan-qiehuan ul .on {
  background: #c2a060;
  color: #fff;
}

.container .pingan .pingan-box {
  position: relative;
}

.container .pingan .pingan-box .shishen-xiangqing {
  width: 1180px;
  height: 454px;
  padding-top: 1px;
  position: relative;
}

.container .pingan .pingan-box .pingan-list {
  position: absolute;
  left: 120px;
  top: 28px;
  z-index: 10;
  cursor: pointer;
  font-size: 16px;
  color: #c2a060;
}

.container .pingan .pingan-box .pingan-list i {
  width: 8px;
  height: 17px;
  background: url(../images/main/pingan-jiantou.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.container .pingan .pingan-box .pingan-xiangqing-box {
  width: 1180px;
  height: 320px;
  background: url(../images/main/pingan-lun-background.jpg) center 0 no-repeat;
  position: relative;
  margin-top: 128px;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left {
  width: 78px;
  height: 318px;
  border: 1px solid #ecdbbd;
  background: url(../images/main/pingan-lun-but.png) center bottom no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left i {
  background: url(../images/main/pingan-lun-jiantou-left.png);
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left:hover {
  border-color: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left:hover .pingan-but-text-top {
  background: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left:hover p {
  color: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left:hover .pingan-but-text-button {
  border-color: #c2a060;
  background: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left:hover .pingan-but-text-button i {
  background: url(../images/main/pingan-lun-jiantou-left-bai.png);
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right {
  width: 78px;
  height: 318px;
  border: 1px solid #ecdbbd;
  background: url(../images/main/pingan-lun-but.png) center bottom no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right i {
  background: url(../images/main/pingan-lun-jiantou-right.png);
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right .pingan-but-text-button {
  left: -32px;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right:hover {
  border-color: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right:hover .pingan-but-text-top {
  background: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right:hover p {
  color: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right:hover .pingan-but-text-button {
  border-color: #c2a060;
  background: #c2a060;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right:hover .pingan-but-text-button i {
  background: url(../images/main/pingan-lun-jiantou-right-bai.png);
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-left p, .container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-but-right p {
  width: 18px;
  margin: 0 auto;
  color: #ecdbbd;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-but-text-top {
  width: 1px;
  height: 16px;
  margin: 15px auto 10px;
  display: block;
  background: #ecdbbd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-but-text-button {
  border: 1px solid #ecdbbd;
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 130px;
  left: 50px;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-but-text-button i {
  width: 37px;
  height: 9px;
  display: block;
  margin: 25px auto 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-bigbox {
  position: relative;
  width: 940px;
  height: 320px;
  margin: 0 auto;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-bigbox > div {
  display: none;
  width: 940px;
  height: 320px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-bigbox > div a {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-bigbox > div .name {
  left: -200px;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-bigbox > div .name img {
  position: absolute;
  top: -186px;
  width: 1220px;
  height: 558px;
  left: -140px;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-bigbox > div .juese {
  right: -200px;
}

.container .pingan .pingan-box .pingan-xiangqing-box .pingan-lun-bigbox > div .juese img {
  position: absolute;
  top: -186px;
  width: 1220px;
  height: 558px;
  right: -140px;
}

.container .pingan .pingan-box .zhujue-lu {
  display: none;
  width: 1180px;
  height: 454px;
  padding-top: 1px;
  position: relative;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-liebiao {
  position: absolute;
  z-index: 10;
  top: 28px;
  left: 120px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-liebiao a {
  position: relative;
  padding: 0 8px 0 15px;
  font-size: 18px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-liebiao a::before {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  background: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-liebiao a:last-child {
  padding: 0 15px 0 15px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-liebiao a:last-child::after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-liebiao a span {
  font-size: 18px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box {
  width: 1180px;
  height: 320px;
  background: url(../images/main/pingan-lun-background.jpg) center 0 no-repeat;
  position: relative;
  margin-top: 128px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left {
  width: 78px;
  height: 318px;
  border: 1px solid #ecdbbd;
  background: url(../images/main/pingan-lun-but.png) center bottom no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left i {
  background: url(../images/main/pingan-lun-jiantou-left.png);
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left:hover {
  border-color: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left:hover .zhujue-but-text-top {
  background: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left:hover p {
  color: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left:hover .zhujue-but-text-button {
  border-color: #c2a060;
  background: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left:hover .zhujue-but-text-button i {
  background: url(../images/main/pingan-lun-jiantou-left-bai.png);
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right {
  width: 78px;
  height: 318px;
  border: 1px solid #ecdbbd;
  background: url(../images/main/pingan-lun-but.png) center bottom no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right i {
  background: url(../images/main/pingan-lun-jiantou-right.png);
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right .zhujue-but-text-button {
  left: -32px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right:hover {
  border-color: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right:hover .zhujue-but-text-top {
  background: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right:hover p {
  color: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right:hover .zhujue-but-text-button {
  border-color: #c2a060;
  background: #c2a060;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right:hover .zhujue-but-text-button i {
  background: url(../images/main/pingan-lun-jiantou-right-bai.png);
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-left p, .container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-lun-but-right p {
  width: 18px;
  margin: 0 auto;
  color: #ecdbbd;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-but-text-top {
  width: 1px;
  height: 16px;
  margin: 15px auto 10px;
  display: block;
  background: #ecdbbd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-but-text-button {
  border: 1px solid #ecdbbd;
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 130px;
  left: 50px;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-box .zhujue-but-text-button i {
  width: 37px;
  height: 9px;
  display: block;
  margin: 25px auto 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-lu-box {
  position: relative;
  width: 940px;
  height: 320px;
  margin: 0 auto;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-lu-box > div {
  width: 940px;
  height: 320px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-lu-box > div a {
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-lu-box > div .name {
  left: -200px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-lu-box > div .name img {
  position: absolute;
  top: -186px;
  width: 1220px;
  height: 558px;
  left: -140px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-lu-box > div .juese {
  right: -200px;
}

.container .pingan .pingan-box .zhujue-lu .zhujue-lu-box > div .juese img {
  position: absolute;
  top: -186px;
  width: 1220px;
  height: 558px;
  right: -140px;
}

.container .pingan .pingan-box .pingan-shengyou {
  display: none;
}

.container .pingan .pingan-box .pingan-shengyou .shengyou-box {
  background: url(../images/main/pingan-shengyou-background.png) 0 0 no-repeat;
  width: 1060px;
  height: 429px;
  margin: 36px 0 0 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 52px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .pingan .pingan-box .pingan-shengyou .shengyou-box ul {
  width: auto;
  margin: 12px 0 0;
}

.container .pingan .pingan-box .pingan-shengyou .shengyou-box ul li {
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  font-weight: 600;
}

.gonglue {
  height: 510px;
  background: url(../images/main/youxigonglue-background.jpg) 0 174px no-repeat;
}

.gonglue .gonglue-top-box {
  overflow: hidden;
}

.gonglue .gonglue-top-box > a {
  width: 55px;
  height: 145px;
  float: left;
  background-repeat: no-repeat;
  background: url(../images/main/main-top-jingling.png);
  background-position: -876px -532px;
}

.gonglue .gonglue-top-box .gonglue-top-minbox {
  margin-left: 45px;
  float: left;
  height: 209px;
}

.gonglue .gonglue-top-box .gonglue-top-minbox ul li {
  position: relative;
  width: 340px;
  height: 209px;
  margin-left: 20px;
  float: left;
}

.gonglue .gonglue-top-box .gonglue-top-minbox ul li a:hover > .gonglue-minbox-span1 {
  top: 0px;
}

.gonglue .gonglue-top-box .gonglue-top-minbox ul li a:hover > .gonglue-minbox-span2 {
  top: 22px;
}

.gonglue .gonglue-top-box .gonglue-top-minbox ul li .gonglue-minbox-span1 {
  left: 18px;
  top: 5px;
}

.gonglue .gonglue-top-box .gonglue-top-minbox ul li .gonglue-minbox-span2 {
  left: 68px;
  top: 27px;
}

.gonglue .gonglue-top-box .gonglue-top-minbox ul span {
  position: absolute;
  display: block;
  padding: 0 10px;
  width: 20px;
  height: 90px;
  background: url(https://yys.res.netease.com/pc/gw/20180913151832/img/stategy_tit_bg_3dfaee2.png) no-repeat;
  color: #000;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gonglue .gonglue-top-box .gonglue-top-minbox ul span em {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  width: 20px;
  height: auto;
}

.gonglue .gonglue-centent-box {
  margin-left: 120px;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox {
  margin-top: 32px;
  height: 44px;
  position: relative;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox > a {
  display: block;
  width: 163px;
  height: 44px;
  border: 2px solid #fff;
  font-size: 18px;
  text-align: center;
  line-height: 44px;
  position: absolute;
  color: #fff;
  top: -20px;
  right: 40px;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox > a:hover {
  text-decoration: underline;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox ul li {
  float: left;
  width: 154px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  font-size: 18px;
  position: relative;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox ul li a {
  display: block;
  color: #fff;
  font-weight: 600;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox ul li i {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../images/main/main-top-jingling.png);
  background-position: -1067px -870px;
  width: 71px;
  height: 4px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox ul li::after {
  content: '';
  width: 1px;
  height: 14px;
  background: #fff;
  position: absolute;
  right: -1px;
  z-index: 10;
  top: 15px;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox ul .on {
  line-height: 40px;
  background: #fff;
}

.gonglue .gonglue-centent-box .gonglue-centent-minbox ul .on a {
  color: #74bd95;
}

.gonglue .gonglue-bottom-box {
  width: 1058px;
  height: 124px;
  border: 2px solid #81c0a1;
  border-top: 0;
  padding: 30px 0 0 118px;
}

.gonglue .gonglue-bottom-box .gonglue-bottom-minbox1 {
  display: block;
  opacity: 1;
}

.gonglue .gonglue-bottom-box > div {
  display: none;
  opacity: 0;
}

.gonglue .gonglue-bottom-box > div li {
  width: 320px;
  height: 40px;
  margin-bottom: 20px;
  float: left;
  margin-right: 30px;
  overflow: hidden;
}

.gonglue .gonglue-bottom-box > div li a {
  display: block;
  width: 100%;
  height: 100%;
}

.gonglue .gonglue-bottom-box > div li a:hover .gonglue-bottom-li1 > i {
  width: 5px;
  background: #93c4b0;
}

.gonglue .gonglue-bottom-box > div li a:hover .gonglue-bottom-li2 > p {
  color: #93c4b0;
}

.gonglue .gonglue-bottom-box > div li a .gonglue-bottom-li1 {
  width: 5px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

.gonglue .gonglue-bottom-box > div li a .gonglue-bottom-li1 i {
  width: 2px;
  height: 40px;
  background: #ccc;
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gonglue .gonglue-bottom-box > div li a .gonglue-bottom-li2 {
  width: 300px;
  float: left;
}

.gonglue .gonglue-bottom-box > div li a .gonglue-bottom-li2 p {
  color: #000;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 1.7;
}

.gonglue .gonglue-bottom-box > div li a .gonglue-bottom-li2 span {
  color: #666;
}

.shouzhang {
  height: 487px;
  position: relative;
  background: url(../images/main/shouzhang-background.jpg) 0 bottom no-repeat;
}

.shouzhang .shouzhang-title {
  float: left;
  width: 53px;
  height: 144px;
  background: url(../images/main/main-top-jingling.png);
  background-position: -1003px -532px;
  background-repeat: no-repeat;
}

.shouzhang .shouzhang-left {
  width: 300px;
  height: 456px;
  float: left;
  margin-left: 65px;
  overflow: hidden;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox {
  width: 300px;
  height: 456px;
  float: left;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-top {
  width: 100%;
  height: 23px;
  overflow: hidden;
  margin-bottom: 18px;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-top .shouzhang-left-top-title {
  background: url(../images/main/main-top-jingling.png);
  background-position: -1045px -687px;
  width: 95px;
  height: 23px;
  float: left;
  background-repeat: no-repeat;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-top .shouzhang-left-top-tab {
  float: right;
  border-left: 1px solid #ccc;
  height: 18px;
  padding-left: 10px;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-top .shouzhang-left-top-tab span {
  display: inline-block;
  width: 14px;
  height: 19px;
  cursor: pointer;
  background-repeat: no-repeat;
  background: url(../images/main/main-top-jingling.png);
  background-position: -900px -870px;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-top .shouzhang-left-top-tab .on {
  background-position: -1150px -687px;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-bottom {
  position: relative;
  width: 0px;
  height: 0px;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-bottom > a:nth-child(1) {
  display: block;
  opacity: 1;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-bottom a {
  position: absolute;
  width: 0px;
  left: 0px;
  top: 0px;
  display: none;
  opacity: 0;
}

.shouzhang .shouzhang-left .shouzhang-left-minbox .shouzhang-left-bottom a img {
  display: block;
  width: 300px;
  height: 415px;
}

.shouzhang .shouzhang-right {
  margin-left: 20px;
  float: right;
}

.shouzhang .shouzhang-right .shouzhang-right-title {
  position: relative;
  width: 100%;
  height: 23px;
  overflow: hidden;
}

.shouzhang .shouzhang-right .shouzhang-right-title div {
  background: url(../images/main/main-top-jingling.png);
  background-position: -615px -870px;
  width: 95px;
  height: 23px;
  display: block;
  margin-left: 20px;
  background-repeat: no-repeat;
}

.shouzhang .shouzhang-right .shouzhang-right-title ul {
  position: absolute;
  right: 0;
  top: 5px;
  height: 12px;
  display: block;
}

.shouzhang .shouzhang-right .shouzhang-right-title ul li {
  float: left;
  padding: 0 20px;
  border-right: 1px solid #ccc;
  height: 12px;
  line-height: 12px;
}

.shouzhang .shouzhang-right .shouzhang-right-title ul li a {
  color: #bf9962;
}

.shouzhang .shouzhang-right .shouzhang-right-box {
  margin-top: 17px;
  width: 720px;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox {
  position: relative;
  width: 720px;
  height: 447px;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox > ul:nth-child(1) {
  display: block;
  opacity: 1;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox ul {
  position: absolute;
  width: 720px;
  left: 0px;
  top: 0px;
  display: none;
  opacity: 0;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox ul li {
  float: left;
  width: 220px;
  height: 443px;
  margin-left: 20px;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox ul li .shouzhang-right-img img {
  width: 220px;
  height: 351px;
  display: block;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox ul li .shouzhang-right-text {
  margin-top: 10px;
  border-left: 1px solid #000;
  padding-left: 15px;
  margin-left: 20px;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox ul li .shouzhang-right-text > p:nth-child(1) {
  width: 160px;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p > .shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox ul li .shouzhang-right-text:nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-right-minbox ul li .shouzhang-right-huo {
  line-height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 35px;
  padding-left: 26px;
  color: #999;
  margin-top: 5px;
  background: url(../images/main/main-huo.png) no-repeat;
  height: 18px;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-huan {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: right;
  font-size: 0;
  height: 35px;
  line-height: 35px;
  padding-right: 20px;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-huan::before {
  content: '';
  width: 14px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  background: url(../images/main/main-top-jingling.png) no-repeat;
  background-position: -950px -870px;
}

.shouzhang .shouzhang-right .shouzhang-right-box .shouzhang-huan span {
  display: inline-block;
  vertical-align: middle;
  color: #7fc4d2;
  font-size: 12px;
  line-height: 15px;
}

.dachu {
  width: 100%;
  height: 228px;
  margin: 40px 0 70px;
  background: url(../images/main/dachu-background.jpg) center bottom no-repeat;
}

.dachu .dachu-title {
  text-align: center;
  font-size: 0;
}

.dachu .dachu-title img {
  display: inline-block;
  vertical-align: middle;
}

.dachu .dachu-title span {
  width: 1px;
  height: 23px;
  display: inline-block;
  margin: 0 20px;
  background: #ccc;
  vertical-align: middle;
}

.dachu .dachu-title a {
  color: #7fc4d2;
  line-height: 22px;
  display: inline-block;
  margin-left: 6px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
}

.dachu .dachu-title div {
  margin-left: 10px;
  display: inline-block;
  position: relative;
}

.dachu .dachu-box {
  position: relative;
  width: 1180px;
  height: 170px;
}

.dachu .dachu-box .dachu-minbox {
  position: relative;
  width: 1180px;
  height: 170px;
}

.dachu .dachu-box .dachu-minbox > ul:first-child {
  display: block;
  opacity: 1;
}

.dachu .dachu-box .dachu-minbox ul {
  position: absolute;
  width: 1180px;
  left: 0px;
  top: 0px;
  display: none;
  height: 155px;
  margin-top: 15px;
  opacity: 0;
}

.dachu .dachu-box .dachu-minbox ul li {
  float: left;
  width: 218px;
  height: 155px;
  background: url(../images/main/dachu-lun-xinbox-background.jpg) center bottom no-repeat;
  margin-right: 17px;
  position: relative;
}

.dachu .dachu-box .dachu-minbox ul li .dachu-lun-tou {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 5px;
  overflow: hidden;
}

.dachu .dachu-box .dachu-minbox ul li .dachu-lun-boder {
  background: url(../images/main/main-top-jingling.png);
  background-position: -239px -741px;
  width: 118px;
  height: 110px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -59px;
  background-repeat: no-repeat;
}

.dachu .dachu-box .dachu-minbox ul li .dachu-lun-text {
  font-size: 14px;
  margin-top: 115px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  color: #000;
}

.dachu .dachu-box .dachu-huan {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  text-align: right;
  font-size: 0;
  height: 35px;
  line-height: 35px;
  padding-right: 20px;
}

.dachu .dachu-box .dachu-huan::before {
  content: '';
  width: 14px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  background: url(../images/main/main-top-jingling.png) no-repeat;
  background-position: -950px -870px;
}

.dachu .dachu-box .dachu-huan span {
  display: inline-block;
  vertical-align: middle;
  color: #7fc4d2;
  font-size: 12px;
  line-height: 15px;
}
/*# sourceMappingURL=main.css.map */