html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


// 顶部导航 
.top-nav{
    position: relative;
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    border-bottom: 1px solid #d8d8d8;
    z-index: 9999;
    // 游戏全目录下滑列表
    .top-nav-select{
        display:none;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        height: 500px;
        z-index: 10;
        border-top: 1px solid #ccc;
        .top-nav-select-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 1260px; 
            height: 100%;
            overflow: hidden;
        }
        // 下滑列表上部分（标题）
        .select-top{
            float: left;
            overflow: hidden;
            li{
                float: left;
                b{
                    display: block;
                    width: 100%;
                    height: 39px;
                    background-color: #f7f7f8;
                    line-height: 39px;
                    font-size: 14px;
                    text-indent: 20px;
                    color: #bc2e2e;
                }
            }
           &>li:nth-child(1){
            width: 299px;
           }
           &>li:nth-child(2){
            width: 828px;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
           }
           &>li:nth-child(3){
            float: right;
            width: 131px;
           }
        }
        // 下滑列表下部分 （内容）
        .select-bottom{
            float: left;
            overflow: hidden;
            height: 445px;
            width: 100%;
            li{
                position: relative;
                float: left;
                height: 100%;
                padding: 10px 0 0 14px;
                background-color: #fdfefe;
                box-sizing: border-box;
                line-height: 24px;
               &>a,.li-box>a{
                    margin-left: 6px;
                    display: block;
                    &:hover{
                        color: #bc2e2e;
                    }
                }
                p{
                    padding: 0;
                    margin: 0;
                    margin-left: 6px;
                    line-height: 24px;
                    margin-bottom: 4px;
                    font-weight: 700;
                    color: #626262;
                }
            }
            &>li:nth-child(1){
                width: 135px;
            }
            &>li:nth-child(2){
                display: inline-block;
                width: 165px;
                border-right: 1px solid #eee;
                a{
                    width: 105px;
                }
            }
            &>li:nth-child(3){
                width: 148px; 
            }
            &>li:nth-child(4){
                width: 682px;
                border-right: 1px solid #eee;
                div{
                    float: left;
                    width: 133px;
                }
            }
            &>li:nth-child(5){
                width: 117px;
            }
        }
    }
    // 下拉框添加热点标签
    .select-no1{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -267px;
    }
    .select-new{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -206px;
    }
    .select-hot{
        background: url(../images/index/index-jingling.png) no-repeat;
        background-position: right -144px;
    }
    // .热门手游按钮
    #select-but{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px!important;
        height: 95px;
        background-color: #bc2e2e;
        color: #ffffff;
        opacity: 1;
        padding: 7px 0 0 10px;
        &:hover{
            opacity: 0.7;
        }
        width: 20px!important;
        line-height: 1.3!important;
        color: #fff;
    }

    // 顶部导航左边按钮
    .top-nav-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 179px;
        height: 54px;
        background-color: #cf1132;
        a{
           display: block;
            font-size: 12px;
            line-height: 54px;
            text-align: center;
            color: #fff;
        }
        i{
            display: inline-block;
            width: 25px;
            height: 11px;
            background: url(../images/index/index-jingling.png) -90px -306px no-repeat;
            margin-right: 8px;
        }
    }
    // 顶部导航中间logo
    .top-nav-cent{
        position: absolute;
        top: 0;
        left: 50%;
        width: 133px;
        height: 54px;
        a{
            display: block;
            width: 133px;
            height: 44px;
            margin-left: -30px;
            margin-top: 5px;
        }
    }
    // 顶部导航左边文字轮播
    .top-nav-right{
        position: absolute;
        top: 0;
        right: 0;
        height: 54px;
        border-left: 1px solid#dadada;
        overflow: hidden;
        .swiper-slide{
            width: 138px;
            height: 52px;
            text-align: center;
            line-height: 52px;
            box-sizing: border-box;
            &:hover{
                border-bottom: 2px solid red;
                color: red;
                background-color: rgba(0, 0, 0, 0.1);
                transition: all 0.5s;
            }
        }
    }
}
// 主内容盒子
.main{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 892px;
    background: url(../images/Scripture/main-background.jpg) bottom center no-repeat;
    .xiala{
        display:fixed;
        top: 0;
        left: 0;
        background: rgba(255,255,255,.9)
    }
    .main-top-nav{
        position: absolute;
        margin: 0 auto;
        z-index: 20;
        width: 100%;
        height: 100px;
        min-width: 1280px;
        transition: all 0.5s;
        .one-nav{
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            padding-top: 35px;
            margin-right: 15px;
            float: right;
            li{
                position: relative;
                float: left;
                width: 118px;
                height: 65px;
                a{
                    display: block;
                    width: 100px;
                    height: 100%;
                    text-align: center;
                    line-height: 35px;
                    color: #fff;
                    font-size: 16px;
                    transition: all 0.5s;
                    &:hover{
                        color: #cc4336;
                    }
                }
                .xiexian{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 8px;
                    width: 15px;
                    height: 24px;
                    background: url(../images/Scripture/shishen-jingling.png);
                    background-repeat: no-repeat;
                    background-position: -173px -71px;
                }
            }
        }
        .two-nav{
            position: absolute;
            top: 0;
            right: 0;
            padding-top: 35px;
            margin-right: 15px;
            float: right;
            display: none;
            li{
                position: relative;
                float: left;
                width: 114px;
                height: 65px;
                a{
                    display: block;
                    width: 100px;
                    height: 100%;
                    text-align: center;
                    line-height: 35px;
                    color: #333;
                    font-size: 16px;
                }
                .xiexian{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 8px;
                    width: 15px;
                    height: 24px;
                    background: url(../images/Scripture/shishen-jingling.png);
                    background-repeat: no-repeat;
                    background-position: -158px -71px;
                }
            }
        }
        .main-left-logo{
            float: left;
            padding-left: 15px;
            padding-top: 13px;
            display: none;
            >p{
                float: left;
                width: 16px;
                line-height: 16px;
                font-size: 16px;
                color: #000;
                margin-top: 3px;
                margin-right: 10px;
            }
            img{
                float: left;
                width: 74px;
                height: 74px;
                margin-right: 15px;
            }
            a{
                float: left;
                height: 72px;
                padding-left: 15px;
                border-left: 1px solid #ccc;
                span{
                    float: left;
                    width: 73px;
                    height: 73px;
                    margin-right: 14px;
                    background: url(../images/Scripture/logo-tu.webp) 0 0 no-repeat;
                }
                .title{
                    float: left;
                    padding-top: 2px;
                    
                    h3{
                        color: #333;
                        font-size: 32px;
                        padding-top: 10px;
                    }
                    p{
                        color: #333;
                        font-size: 16px;
                    }
                }
            }
        }
        .guanfang-select{
            position: absolute;
            top: 100px;
            width: 100%;
            height: 0;
            background: #e1ebeb;
            overflow: hidden;
            right: 0;
            div{
                position: absolute;
                top: 0;
                left: 0;
                padding-top: 33px;
                width: 100%;
                .QQ{
                    float: right;
                    width: 320px;
                    height: 104px;
                    padding-left: 50px;
                    border-left: 1px solid #c8d0d0;
                    ul{
                        margin-bottom: 10px;
                    }
                    p{
                        color: #666;
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
    }
}